<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.goods.mapper.TnGoodsImagesMapper">

    <!-- 通过商品规格ID查询图片ID列表 -->
    <select id="selectImageIdsByGoodsSpecId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT image_id 
        FROM tn_goods_images 
        WHERE goods_spec_id = #{goodsSpecId}
    </select>

    <!-- 通过商品规格ID删除关联关系 -->
    <delete id="deleteByGoodsSpecId" parameterType="java.lang.String">
        DELETE FROM tn_goods_images 
        WHERE goods_spec_id = #{goodsSpecId}
    </delete>
</mapper>